<%= link_to "Sign in", root_path %>
<%= link_to "Sign up", root_path %>
<%= link_to "Home", root_path %>
<%= link_to "Chatrooms", root_path %>
<h1>Chat App</h1>
<p>Welcome to the site</p>
<% @chatrooms.each do |chatroom| %>
	<%= chatroom.name %>
	<%= chatroom.summary %>
<% end %>